<!DOCTYPE html>
<html>
  <head>
    <a href="http://localhost:3000/"><button>Home Page</button></a>
    <a href="http://localhost:3000/MyActivities"><button>Back</button></a>

    <h1 style="text-align: center">Signed Waivers</h1>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <% if (messages.success) { %>
    <p class="alert alert-success mt-4"><%- messages.success %></p>
    <% } %>

    <p>Enter your 6 digit account ID to view signed waivers</p>

    <form action="/MyWaivers" method="post">
      <input
        id="AccID"
        type="text"
        name="AccID_input"
        placeholder="Account ID"
      /><br />
      <input type="submit" value="Submit" />
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Waiver Name</th>
          <th scope="col">Waiver Type</th>
        </tr>
      </thead>
      <tbody>
        <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
        <tr>
          <td><%= data[i].WaiverName%></td>
          <td><%= data[i].WaiverType%></td>
        </tr>
        <% } }else{ %>
        <tr>
          <td colspan="3">No Data</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
